header {
  order: 1;
  flex-shrink: 0;
}

article {
  flex: 1;
  order: 2;
  overflow: auto;
  width: 85%;
  margin: 0 auto;

  section {
    background-color: #fff;
  }
}

footer {
  order: 3;
  flex-shrink: 0;
}